[Unit]
Description=Start Sandfox...
After=sandfox-rmdir-boot.service

[Service]
Type=forking
ExecStart=/usr/bin/sandfox --verbose --profile=firefox --user=YOURUSERNAME
ExecStop=/usr/bin/sandfox --closeall

[Install]

WantedBy=multi-user.target
